.wrapper-first-row {
    display: flex;
    justify-content: space-between;
}

.wrapper-result {
    margin: 5px 10px 0;
    font-size: 25px;
    font-weight: bold;
}

.wrapper-nim-max {
    display: flex;
    flex-direction: column;
}
.random-button{
    width: 100%;
    margin-top: 5px !important;
}